<nav class="navbar navbar-expand-lg navbar-dark indigo">
  <a class="navbar-brand" href="{% url 'index' %}">Order.io</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'menu' %}">Menu</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'order-details' %}">Orders</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        {% if request.path == '/profile/user/' %}
        <a class="nav-link" href="{% url 'profile' %}" style="display:none">Profile</a>
        {% else %}
        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if user.is_authenticated %}
        <form method="post" id="sub" action="{% url 'logout' %}">
          <input type="hidden" name="next" value="{{next}}" />
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
          <a class="nav-link" href="#" onclick="document.getElementById('sub').submit();">Log out</a>
        </form>
        {% else %}
        <a class="nav-link" href="{% url 'login' %}">Log in</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>